<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!--<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.css}"/>-->

    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.css}"
          href="../static/css/bootstrap.css" />
</head>
<body>
	<div class="container">
	    <div class="jumbotron">
            <div class="row">
                <p>Easy Finance manager</p>
            </div>
            <div class="row">
                <a type="button" class="btn btn-default text-center" th:href="@{/users.html}">Login first, please.</a>
                <a type="button" class="btn btn-default text-center" th:href="@{/users.html}">Or, register.</a>

            </div>
	    </div>
	</div>
</body>
</html>